{
  "viessmannapi" : {
      "email" : "name@mail.com",
      "password" : "USER",
      "api_key" : "KEY"
    },
  "influxdb": {
        "address": "127.0.0.1",
        "port": 8086,
        "user": "admin",
        "password": "admin",
        "database_name": "heating"
    }
}